<!DOCTYPE html>

<html>

<head>
    <style>
        .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #loading {
            display: none;
        }

        #map {
            margin: 20px 0;
            height: 500px;
            width: 100%;
        }
    </style>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script>
        $(function () {
            // Get user data
            var userData = sessionStorage.getItem('user');
            var user = userData ? JSON.parse(userData) : undefined;

            // User session not found
            if (!user) {
                console.log('user session not found');

                // Get tokens from twitter callback
                var tokens = location.search;

                if (tokens) {
                    // Callback from twitter login

                    // Validate signed-in user
                    $.get('/api/access-token' + location.search)
                        .done(function (user) {
                            sessionStorage.setItem('user', JSON.stringify(user));
                            $('h1').text('Welcome ' + user.name);
                        });
                } else {
                    // User not found, redirect to Twitter sign-in
                    window.location.href = '/app/auth';
                }
            } else {
                // User found display username
                console.log('user session found:', user);
                $('h1').text('Welcome ' + user.name);
            }
        });
        function logout() {
            console.log('lgout clicked')
            sessionStorage.clear();
            window.location.href = '/app/auth';
        }
        var map;
        var infowindow;
        var markers = [];
        var latLong;
        function getLocation() {
            loading(true);
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                document.getElementById("geo").innerHTML = "Geolocation is not supported by this browser.";
                loading(false);
            }
        }
        function showPosition(position) {
            latLong = position.coords.latitude + ',' + position.coords.longitude;

            // document.getElementById("geo").innerHTML = "Latitude: " + position.coords.latitude +
            //     "<br>Longitude: " + position.coords.longitude;

            initMap(position);
        }
        function initMap(position) {
            // Create a map object and specify the DOM element for display.
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: position.coords.latitude, lng: position.coords.longitude },
                scrollwheel: false,
                zoom: 13
            });
            infowindow = new google.maps.InfoWindow();
            loading(false);
        }
        function getTweets() {
            loading(true);
            var query = document.getElementById('query').value;
            $.get(`/api/tweets/${query}/${latLong}`)
                .done(function (tweets) {
                    loading(false);
                    markers.forEach(marker => {
                        marker.setMap(null);
                    });

                    tweets.forEach(tweet => {
                        console.log(tweet);
                        createMarker(tweet);
                    })
                })
                .error(function (err) {
                    loading(false);
                    console.error(err);
                });
        }
        function createMarker(tweet) {
            if (!tweet.geo) return console.log('geo not found');

            var tweetPosition = new google.maps.LatLng(tweet.geo.coordinates[0], tweet.geo.coordinates[1]);

            var marker = new google.maps.Marker({
                map: map,
                position: tweetPosition
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(tweet.text);
                infowindow.open(map, this);
            });

            markers.push(marker);
        }
        function loading(isLoading) {
            if (isLoading) {
                $('#loading').show();
            } else {
                $('#loading').hide();
            }
        }
    </script>
</head>

<body>
    <div class='center'>
        <h1></h1>
        <div id='container'>
            <button onclick="logout()">Logout</button>
            <button onclick="getLocation()">Get Location</button>
            <button onclick="getTweets()">Get Tweets</button>
            <input id="query" />
            <div id="geo"></div>
        </div>
        <div id="map"></div>
        <div class="center">
            <img id="loading" src="/static/img/loading.gif" />
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOAzNAHUK_RoM5L7H9fqyo9FnKy2zwReI" async defer></script>
    </div>
</body>

</html>