#auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.btn-twitter {
	background-color: #1bb2e9;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #f4f4f4;
	cursor: pointer;
	height: 50px;
	text-transform: uppercase;
	width: 250px;
    font-size: 14px;
}